@model DC.Data.Common.DataManage.TableInfoDto

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

<div id="colsInfo">
    @Html.Partial("ColsTable", Model)
</div>


@section scripts
{
    <script type="text/javascript">
        function colmove(tabname, colname, movetype) {
            $.post("@(Url.Content("~/table/colmove"))", { tabname: tabname, colname: colname, movetype: movetype }, function(res) {
                $("#colsInfo").html(res);
            });
        }
    </script>
}
